.opinions{
    background-color: var(--var-light-gray);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding: 0 8rem 5rem ;
}

.opinions__title{
    font-size: 3rem;
    grid-column: 1/3;
    justify-self: center;
}
.opinions__container{
    display: flex;
    flex-direction: column;
    place-content: center;
}
.opinions__opinion{
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--var-lightblue);
}
.opinions__img{
    justify-self: flex-end;
}
.opinions__name{
font-size: 1.5rem;
font-weight: 600;
}
.opinions__country{
    color: var(--var-lightblue);
    font-size: 1.1rem;
    font-weight: 500;
}