.resources{
    display: grid;
    padding: 5rem 7rem;
    row-gap: 1rem;
}

.resources__title{
    font-size: 2.6rem;
    grid-column: 1/2;
}

.resources .resources__btn{
    grid-column: 3/4;
    height: fit-content;
    padding: 1.2rem 2.1rem;
    border-radius: .4rem;
    font-size: 1.05rem;
    color: white;
    border-color: var(--var-purple);
    background-color: var(--var-purple);
    text-transform: uppercase;
}

.resources__container{
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
}

.resources__resource{
 display: flex;
 flex-direction: column;
 width: 31.5%;
}

.resource__title{
    font-size: 1.7rem;
    font-family: 'Kumbh Sans', sans-serif;
}
.resource__date{
    color: var(--var-lightblue);
    font-size: 1.1rem;
    /* font-weight: 500; */
    margin-top: 2rem;
    margin-bottom: -1rem;
}
.resource__desc{
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: var(--var-lightblue);
    margin-top:-1rem;
}